<main>
  {{#if isSearch}}
  <h1>Search</h1>
  {{else}}
  <h1>Browser</h1>
  {{/if}}
  <form action="/search" method="POST">
    <input type="text" class="search" name="search" placeholder="Search..." value="{{search.name}}">
    <input type="number" name="from" class="difficulty" placeholder="Difficulty from..." value="{{search.from}}">
    <span>-</span>
    <input type="number" name="to" class="difficulty" placeholder="Difficulty to..." value="{{search.to}}">
    <input type="submit" value="search">
  </form>
  {{#each cubes}}
    {{>cube}}
  {{else}}
  <h2>NO CUBES WERE FOUND</h2>
  {{/each}}

</main>